@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root {
    --cor1: #0080db;
    --cor2: #003bdb;
    --cor3: #0b00db;
    --cor4: #5300db;
    --cor5: #9b00db;
    --cor6: #d1d1d1;
    --cor7: #00185a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--cor1);
    height: auto;
}

header > h1 {
    text-align: center;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    padding: 10px;
}

main {
    padding: 7px;
}

#links {
    padding: 30px;
}

#frame {
    position: relative;
    width: 82%;
    height: 0;
    padding-top: 46.2500%;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
}

#links a {
    font-weight: 500;
    font-size: calc(1vw + 0.9em);
    text-decoration: none;
    color: #2b2b2b;
}

#links a:hover {
    font-weight: bold;
    color: #1b1b1b;
}

#links ul {
    list-style-position: inside;
    list-style-type: disc;
    columns: 2;
    margin: 5px;
}

#links h1 {
    font-size: 1.7em;
    color: var(--cor7);
}